<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728962640528-57iov6he0fabedhoh579hui4gue0ovl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728962640528-57iov6he0fabedhoh579hui4gue0ovl0</string>
	<key>API_KEY</key>
	<string>AIzaSyD4zx0aNWFdZ5pYUiY8PT79jzgg9s7sAh0</string>
	<key>GCM_SENDER_ID</key>
	<string>728962640528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.witsindia.volumemeasure.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-ddb93</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-ddb93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728962640528:ios:e8d3fd193c57441cc0c615</string>
</dict>
</plist>